<!DOCTYPE html>
<html lang="ja">

<head>
  <meta charset="UTF-8">
  <title>Vuetify Example Pen Edit Shift</title>
  <link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900'>
  <link rel='stylesheet' href='https://cdn.jsdelivr.net/npm/@mdi/font@4.x/css/materialdesignicons.min.css'>
  <link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Material+Icons'>
  <link rel='stylesheet' href='https://cdn.jsdelivr.net/npm/vuetify@2.2.12/dist/vuetify.min.css'>
  <link rel="stylesheet" href="assets/style.css">
</head>

<body>
  <!-- partial:index.partial.html -->
  <div id="app">
    <v-app id="inspire">
      <v-row class="fill-height">
        <v-col>
          <!-- // head menu -->
          <v-container fluid>
            <v-row>
              <v-col cols="">
                <v-sheet height="64">
                  <v-toolbar flat color="white">

                    <v-btn outlined class="mr-4" color="grey darken-2" @click="prev">Prev</v-btn>
                    <v-btn fab text small color="grey darken-2" @click="prev">
                      <v-icon small>mdi-chevron-left</v-icon>
                    </v-btn>

                    <v-toolbar-title>{{ title }}</v-toolbar-title>

                    <v-btn fab text small color="grey darken-2" @click="next">
                      <v-icon small>mdi-chevron-right</v-icon>
                    </v-btn>
                    <v-btn outlined class="ml-5" color="grey darken-2" @click="setToday">Today</v-btn>

                    <v-spacer></v-spacer>

                    <v-menu bottom right>
                      <template v-slot:activator="{ on }">
                        <v-btn outlined class="mr-4" color="grey darken-2" @click="next">Next</v-btn>
                      </template>

                    </v-menu>
                  </v-toolbar>
                </v-sheet>
              </v-col>
            </v-row>
          </v-container>

          <!-- Calendar -->
          <v-sheet height="640">
            <!-- event function  -->
            <v-calendar locale="ja-jp" :day-format="timestamp => new Date(timestamp.date).getDate()" :month-format="timestamp => (new Date(timestamp.date).getMonth() + 1) + ' /'" ref="calendar" v-model="focus" color="primary" :events="events" :event-color="getEventColor" :now="today" :type="type" @click:event="showEvent" @change="updateRange">
            </v-calendar>

            <!-- modal content -->
            <v-menu v-model="selectedOpen" :close-on-content-click="false" :activator="selectedElement" offset-x>

              <v-card color="grey lighten-4" min-width="300px" flat>
                <v-toolbar :color="selectedEvent.color" dark>

                  <v-toolbar-title v-html="selectedEvent.name"></v-toolbar-title>
                  <v-spacer></v-spacer>
                  <v-toolbar-title v-html="selectedEvent.belong" class="ml-4"></v-toolbar-title>
                  <v-spacer></v-spacer>
                  <v-toolbar-title v-html="selectedEvent.class" class="ml-4"></v-toolbar-title>

                  <v-spacer></v-spacer>

                  <v-btn icon>
                    <v-icon>mdi-dots-vertical</v-icon>
                  </v-btn>
                </v-toolbar>

                <v-card-text>
                  <span v-html="selectedEvent.details"></span>
                </v-card-text>

                <v-card-actions>
                  <v-btn icon>
                    <v-icon>
                      mdi-pencil
                    </v-icon>
                  </v-btn>

                  <v-spacer></v-spacer>

                  <v-card-text>
                    <v-row justify="space-around">
                      <v-col cols="４">
                        <v-select v-model="work" :items="works" label="希望変更"></v-select>
                        <!-- <p v-for="w in works">
                          <span>{{ w }}</span>
                        </p> -->
                      </v-col>
                    </v-row>
                  </v-card-text>
                  <v-btn text-color="secondary" @click="selectedOpen = false">
                    Cancel
                  </v-btn>
                  <v-btn text-color="primary" @click="selectedOpen = false">
                    Save
                  </v-btn>
                </v-card-actions>
              </v-card>
            </v-menu>
          </v-sheet>
        </v-col>
      </v-row>
    </v-app>
  </div>
  <!-- partial -->
  <script src='https://cdn.jsdelivr.net/npm/babel-polyfill/dist/polyfill.min.js'></script>
  <script src='https://cdn.jsdelivr.net/npm/vue@2.x/dist/vue.js'></script>
  <script src='https://cdn.jsdelivr.net/npm/vuetify@2.2.12/dist/vuetify.min.js'></script>
  <script src="assets/script.js"></script>

</body>

</html>
