.v-event.v-event-start.v-event-end {
  width: auto;
  display: inline-flex;
  min-width: auto;
  width: auto !important;
  padding: 2px 4px 2px 0;
  margin-right: 4px;
  border-radius: 3px;
  box-shadow: 1px 2px 2px #ccc;
  transition: 0.2s;

  &:hover {
    box-shadow: none;
    transform: scale(1.1, 1.1);
    box-shadow: 1px 4px 4px #eee;
  }
}

.v-input.v-input--is-label-active.v-input--is-dirty.theme--light.v-text-field.v-text-field--is-booted.v-select {
  max-width: 200px;
}
